/* colours i wanna use/theme details
body 
background-color: #020923
#box
background-color: #1c233d
border-color: #38539c

text #8e9198
highlighted menu text #5684fd
button colour #5684fd
placeholder text: #616578

*/

body{
    text-align: center;
    vertical-align: center;
    background-color:#020923;
}

#box{
    background-color: #1c233d;
    width: 550px;
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

.box .movie{
    align-items: center;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    color: #061133;

    border: none;
    border-bottom: 2px solid #172a6b;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 5px;

    height: fit-content;
    width: 500px;
    vertical-align: baseline;
    justify-content: center;
    margin-left: 2px;
    
    display: flex;
    background-color: #6c8cf5;
}

.box .movie .flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
}

ul {list-style-type:none; }

.center {
    border: none;
    display: flex;
    justify-content: center;
    }

.movie{
    align-items: center;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    color: #061133;

    border: none;
    border-bottom: 2px solid #172a6b;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;

    height: fit-content;
    width: 450px;
    vertical-align: baseline;
    justify-content: center;
    margin-left: 2p0;
    
    display: flex;
    background-color: #6c8cf5;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    
}
ul {list-style-type:none; }

.row2{
    min-width: 245px;
}

.flex-item{
    color: #8e9198;
}

.movie:hover{
    text-align: middle;
    font-family: sans-serif;
    color: white;
    
    border-right: 2px solid;
    border-bottom: 1px solid;
    border-color: rgba(255, 235, 205, 0.342);

    /* box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset; */
}

.inputya{
    background-color: #172a6b;
    border-bottom: 2px solid blanchedalmond;
    color: blanchedalmond;
}

::placeholder{
    color: #a5b8f8;
}

.movie{
    background-color: #323345;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 30px;
}

.movie-data{
    display: inline-block;
    width: 70%;
}

.movie button{
    border: none;
    outline: none;
    height: 40px;
    width: 100px;
    text-transform: uppercase;
    color: #F9FCFF;
}

p{
    font-weight: bold;
    color: #F9FCFF;
}

.smol{
    display: inline;
    width: 50%;
    margin-bottom: 10px;
    margin-right: 20px;
}

.smol *{
    color:#020923;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0px;
}

.smol p{
    font-weight: bold;
    margin-bottom: 5px;
    color: #F9FCFF;
}

.smol span{
    font-size: smaller;
    color: #BFBFC5;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.add-button {
    color: white;
    background-color: black;
}

.add-button:hover{
    color: grey;
    background-color: white;
    cursor: pointer;
}

#page-heading{
    color: #5684fd;
    text-align: center;
    margin-top: 25px;
    font-family: sans-serif;
    padding-top: 8px;
}

/* TABLE STYLING */
table{
    /* border: 1px solid black; */
    width: 100%; 
    border: none;
}

table td + td { border-left: 1px solid grey; }

/* Style for inputs, labels and buttons(basically form style) */
.input-wrapper {
    position: relative;
    width: 250px;
}

/* description */
.inputza{
    min-width: 520px;
    line-height: 50px;
    background-color: #1c233d;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}
  
/* date */
input {
  border: 1px solid gray;
  border-radius: 5px;
  position: relative;
  min-width: 20px;
  margin: 10px;
  min-height: 25px;
  /* line-height: 25px; */
  background-color: #1c233d;
  border-bottom: 1px solid blanchedalmond;
  color: blanchedalmond;
}
  


label {
  color: #8e9198;
  font-family: sans-serif;
  font-size: 11px;
  position: absolute;
  top: 0.3ex;
  z-index: 1;
  left: 2em;
  border-color: #38539c;
  background-color: #1c233d;
  padding: 0 5px;
}

/* category */

select{
  border: 1px solid gray;
  min-width: 250px;
  border-radius: 6px;
  position: relative;
  width: 200px;
  margin: 10px;
  height: 25px;
  line-height: 40px;
  background-color: #1c233d;
  border-bottom: 1px solid blanchedalmond;
  color: blanchedalmond;
}

.horizontal-line{
    width: 100%;
    height: 1px;
    background-color: rgb(134, 134, 134);
}

/* buttons */
.add-delete-button0 .add-button0{
    border: none;
    border-radius: 30px;
    position: relative;
    min-width: 100px;
    margin-left: 85px;
    margin-right: 10px;
    min-height: 25px;
    line-height: 50px;
    background-color: #5787dc;
    color: #1f0f6a;

    font-weight: bold;
    font-family: sans-serif;
}

.add-delete-button0 .add-button0:hover{
    border-bottom: 2px solid blanchedalmond;
    background-color: #323345;
    color: #5787dc;

    cursor: pointer;
}

/* check */
.check{
    max-width: 3px;
    margin-left: 0px;
}


.add-delete-button0 .delete-button0{
    border: none;
    border-radius: 30px;
    position: relative;
    min-width: 100px;
    margin-left: 20px;
    margin-right: 85px;
    min-height: 25px;
    line-height: 50px;
    background-color: #275152;
    /* border-bottom: 1px solid blanchedalmond; */
    color: #26b970;

    font-weight: bold;
    font-family: sans-serif;
  }

  .add-delete-button0 .delete-button0:hover{
    border-bottom: 2px solid blanchedalmond;
    background-color: #26b970;
    color: #275152;

    cursor: pointer;
}