/* colours i wanna use
body 
background-color: #020923
#box
background-color: #1c233d
border-color: #38539c

text #8e9198
highlighted menu text #5684fd
button colour #5684fd
placeholder text: #616578

*/


body{
    text-align: center;
    vertical-align: center;
    background-color:#020923;
}

#box{
    background-color: #1c233d;
    width: 550px;
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/* table{
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-collapse: collapse; border: none;-
} */

.contact{
    align-items: center;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    color: #061133;

    border: none;
    border-bottom: 2px solid #172a6b;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;

    height: fit-content;
    width: 250px;
    vertical-align: baseline;
    justify-content: center;
    
    display: flex;
    background-color: #6c8cf5;
}

.contact .flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;


    
}
ul {list-style-type:none; }

.center {
    border: none;
    display: flex;
    justify-content: center;
    }

.contact:hover{
    text-align: middle;
    font-family: sans-serif;
    color: white;
    
    border-right: 2px solid;
    border-bottom: 1px solid;
    border-color: rgba(255, 235, 205, 0.342);

    /* box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset; */
}

.inputya{
    background-color: #172a6b;
    border-bottom: 2px solid blanchedalmond;
    color: blanchedalmond;
}

::placeholder{
    color: #a5b8f8;
}

.contact .delete-button {
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 10%;
    
}

.contact .delete-button a{
    color: white;
    background-color: black;
}

.contact .delete-button a:hover{
    color: grey;
    background-color: black;
}
.add-button {
    color: white;
    background-color: black;
}

.add-button:hover{
    color: grey;
    background-color: white;
    cursor: pointer;
}

/* p{
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    vertical-align: auto;
    font-family: sans-serif;
    font-weight: bold;
    
    
    color: blanchedalmond;
    border: 0px solid #cdcdcd;
    border-radius: 0px;
    border-color: whitesmoke; 
    background-color: rgb(83, 121, 247);
    font-size: 15px;
    
    margin-left: auto;
    margin-right: auto;
} */


/* p:hover{
    text-align: center;
    font-family: sans-serif;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
} */

#page-heading{
    color: #5684fd;
    text-align: center;
    margin-top: 25px;
    font-family: sans-serif;
    padding-top: 8px;
}

/* TABLE STYLING */
table{
    /* border: 1px solid black; */
    width: 100%; 
    border: none;
}

table td + td { border-left: 1px solid grey; }

/* Style for inputs, labels and buttons(basically form style) */
.input-wrapper {
    position: relative;
}

/* description */
.inputza{
    min-width: 520px;
    line-height: 50px;
    background-color: #1c233d;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}
  
/* date */
input {
  border: 1px solid gray;
  border-radius: 5px;
  position: relative;
  min-width: 240px;
  margin: 10px;
  min-height: 25px;
  /* line-height: 25px; */
  background-color: #1c233d;
  border-bottom: 1px solid blanchedalmond;
  color: blanchedalmond;
}
  


label {
  color: #8e9198;
  font-family: sans-serif;
  font-size: 11px;
  position: absolute;
  top: 0.3ex;
  z-index: 1;
  left: 2em;
  border-color: #38539c;
  background-color: #1c233d;
  padding: 0 5px;
}

/* category */

select{
  border: 1px solid gray;
  min-width: 250px;
  border-radius: 6px;
  position: relative;
  width: 200px;
  margin: 10px;
  height: 25px;
  line-height: 40px;
  background-color: #1c233d;
  border-bottom: 1px solid blanchedalmond;
  color: blanchedalmond;
}

/* buttons */
.add-delete-button0 .add-button0{
    border: none;
    border-radius: 30px;
    position: relative;
    min-width: 100px;
    margin-left: 100px;
    margin-right: 10px;
    min-height: 25px;
    line-height: 50px;
    background-color: #5787dc;
    /* border-bottom: 1px solid blanchedalmond; */
    color: #1f0f6a;
}

.add-delete-button0 .delete-button0{
    border: none;
    border-radius: 30px;
    position: relative;
    min-width: 100px;
    margin-left: 20px;
    margin-right: 85px;
    min-height: 25px;
    line-height: 50px;
    background-color: #275152;
    /* border-bottom: 1px solid blanchedalmond; */
    color: #26b970;
  }